<header class="sticky-top bg-light border-bottom shadow-sm sticky-top py-md-3">
	<nav class="navbar navbar-expand-lg">
		<div class="container px-3 px-md-5">
			<a class="navbar-brand" href="/">
				{% if siteLogo().image|default(null) %}
					<img src="{{ vich_uploader_asset(siteLogo().image) }}" width="206" height="48" alt="logo">
				{% else %}
					<h1 class="h3">{{ siteTitle() }}</h1>
				{% endif %}

			</a>
			<form id="search-form" class="d-none d-md-flex input-group mx-auto w-50" method="GET" action="{{ path('app_product_search', {query: 'q'}) }}">
				<input type="search" name="searchQuery" class="form-control bg-white" placeholder="সার্চ করুন যেকোনো কিছু..." style="border: 2px solid #00d394;">
				<button class="btn btn-primary bg-primary" type="submit" id="button-addon2" style="">
					<i class="fas fa-search"></i>
				</button>
			</form>
			<button id="search-icon" class="btn btn-transparent text-white rounded-3 ms-auto d-flex d-md-none" type="submit" id="button-addon2" style="">
				<i class="fas fa-search"></i>
			</button>
			<a href="{{ path('app_cart') }}" class="position-relative bg-white text-dark rounded-circle border p-2">
				<i class="fas fa-shopping-cart"></i>
				{% if itemsInCart() != 0 %}
					<span id="cartBadge" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
						{{ itemsInCart() }}
					</span>
				{% else %}
					<span id="cartBadge" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">
						0
					</span>
				{% endif %}
			</a>
			<form class="input-group mx-auto mt-2" id="mobileSearch" method="GET" action="{{ path('app_product_search', {query: 'q'}) }}">
				<input type="search" name="searchQuery" type="text" class="form-control bg-white" placeholder="সার্চ করুন যেকোনো কিছু..." style="border: 2px solid #00d394;">
				<button class="btn btn-primary bg-primary" type="submit" type="button" id="button-addon3" style="">
					<i class="fas fa-search"></i>
				</button>
			</form>
		</div>
	</nav>
</header>
