{% extends 'base.html.twig' %}
{% block title %}Invoice |
	{{ siteTitle() }}
{% endblock %}
{% block body %}
	<section class="container my-5">
		<section
			class="mb-5">
			{# <img src="{{ absolute_url(asset('build/images/logo-dark.png')) }}" class="d-none mb-5 invoice-page-logo" width="206" height="48" alt="logo"> #}
			<h1 class="h3 mb-5">{{ siteTitle() }}</h1>
			<div class="row">
				<div class="col">
					<h3 class="mb-2">
						<span class="text-primary text-uppercase">Invoice:
						</span>#{{ invoice.id }}</h3>
					<span class="d-block mb-2">{{ invoice.createdAt|date() }}</span>
					<span class="d-block">
						<strong>Status:</strong>
						{% if invoice.status == 'Paid' %}
							<strong class="text-success">{{ invoice.status }}</strong>
						{% elseif invoice.status == 'Unpaid' %}
							<strong class="text-danger">{{ invoice.status }}</strong>
						{% endif %}
					</span>
				</div>
				<div class="col text-end invoice-action">
					<a href="javascript:print()" class="btn btn-outline-primary text-uppercase">Print</a>
					{# <a href="{{ path('app_invoice_download', {id: invoice.id}) }}" class="btn btn-primary text-uppercase">Download</a> #}
				</div>
			</div>
		</section>

		<section class="mb-5">
			<h4 class="mb-2">{{ invoice.customerName }}</h4>
			<span class="d-block mb-1">{{ invoice.address }},
				{{ invoice.city }},
				{{ invoice.stateLocation }}</span>
			<span class="d-block">
				<strong>Mobile:</strong>
				+880{{ invoice.customerPhone }}</span>
		</section>

		<div class="table-responsive mb-5">
			<table class="table">
				<thead class="text-uppercase">
					<tr>
						<th scope="col">#</th>
						<th scope="col">Products</th>
						<th scope="col">Qty</th>
						<th scope="col">Price</th>
					</tr>
				</thead>
				<tbody>
					{% for item in invoice.items %}
						<tr>
							<th scope="row">{{ loop.index }}</th>
							<td>{{ item.product }}</td>
							<td>{{ item.quantity }}</td>
							<td>৳{{ item.price }}</td>
						</tr>
					{% endfor %}

					<tr>
						<th scope="row"></th>
						<td></td>
						<td class="text-uppercase fw-bold">Sub Total</td>
						<td>৳{{ invoice.totalCost }}</td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td></td>
						<td class="text-uppercase fw-bold">Delivery Charge</td>
						<td>৳0</td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td></td>
						<td class="text-uppercase fw-bold">Total</td>
						<td>৳{{ invoice.totalCost }}</td>
					</tr>
				</tbody>
			</table>
		</div>

		{# <section class="text-center text-uppercase">
																																																																																			{% if invoice.status == 'Paid' %}
																																																																																				<h2 class="fw-normal text-uppercase mb-4">Thanks for shopping with us.</h2>
																																																																																				<a href="{{ path('app_home') }}" class="btn btn-primary text-uppercase go-home-btn">Go Home</a>
																																																																																			{% elseif invoice.status == 'Unpaid' %}
																																																																																				<a href="{{ path('app_bkash_pay', {id: invoice.id}) }}" class="btn btn-lg btn-primary text-uppercase rounded-0 pay-btn">Pay via Bkash</a>
																																																																																				<a href="{{ path('app_payment_request', {id: invoice.id}) }}" class="btn btn-lg btn-primary text-uppercase rounded-0 pay-btn">Pay via SSL Commerz</a>
																																																																																			{% endif %}
																																																																																		</section> #}

		<section class="text-center text-uppercase">
			{% if invoice.status == 'Paid' %}
				<h2 class="fw-normal text-uppercase mb-4">Thanks for shopping with us.</h2>
				<a href="{{ path('app_home') }}" class="btn btn-primary text-uppercase go-home-btn">Go Home</a>
				{% elseif invoice.status == 'Unpaid' %}
			<!-- Button trigger modal -->
				{# <button type="button" class="btn btn-primary text-uppercase fs-5" data-bs-toggle="modal" data-bs-target="#exampleModal">
																																													Pay Now
																																												</button> #}

				<!-- Modal -->
				{# <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
																																													<div class="modal-dialog modal-dialog-centered">
																																														<div class="modal-content">
																																															<div class="modal-header">
																																																<h5 class="modal-title" id="exampleModalLabel">Scan QR Code</h5>
																																																<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
																																															</div>
																																															<div class="modal-body">
																																																<img class="mb-3" src="{{ asset('build/images/qrcode.png') }}" alt="QR Code" height="400px">
																																																<h5>Amount: ৳{{ invoice.totalCost }}</h5>
																																															</div>
																																															<div class="modal-footer mx-auto">
																																																<button type="button" class="btn btn-primary text-uppercase" data-bs-dismiss="modal">Done</button>
																																															</div>
																																														</div>
																																													</div>
																																												</div> #}
			{% endif %}
		</section>
	</section>
{% endblock %}
