<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Invoice</title>
		<style>
			body {
				font-size: 12px !important;
			}
			table tr td {
				padding: 0.3rem 0.5rem !important;
			}
		</style>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
	</head>
	<body>
		{% for order in orders %}
			<div class="pb-3 mb-3" style="border-bottom: 1px dashed tomato;">
				<table class="table table-bordered">
					<tbody>
						<tr>
							<td class="w-50">
								{% if siteLogo().image|default(null) %}
									<img src="{{ vich_uploader_asset(siteLogo().image) }}" width="206" height="48" alt="logo">
								{% else %}
									<h1 class="h5">{{ siteTitle() }}</h1>
								{% endif %}
								<div class="small my-1">
									<span>
										<b>Email:</b>
										{{ siteEmail() }}</span><br>
									<span>
										<b>Phone:</b>
										{{ sitePhone() }}</span><br>
									<span>
										<b>Shop Address:</b>
										{{ shopAddress() }}</span><br>
								</div>
							</td>
							<td class="w-25">
								<h6>Customer Info</h6>
								<div class="small my-1">
									<span>
										<b>Name:</b>
										{{ order.customerName }}</span><br>
									<span>
										<b>Phone:</b>
										{{ order.customerPhone }}</span><br>
									<span>
										<b>Address:</b>
										{{ order.address }}</span><br>
									<span>
										<b>Note:</b>
										{{ order.note }}</span><br>
								</div>
							</td>
							<td class="w-25">
								<h6>Invoice #{{order.id}}</h6>
								<div class="small my-1">
									<span>
										<b>Order Date:</b>
										{{ order.placedAt|date('Y-m-d') }}</span><br>
									<span>
										<b>Order Status:</b>
										{{ order.orderState.value }}</span><br>
									<span>
										<b>Payment Method:</b>
										Cash on delivery</span><br>
									<span>
										<b>Payment Status:</b>
										{{ order.isPaid ? 'Paid' : 'Unpaid' }}</span><br>
								</div>
							</td>
						</tr>
						<tr class="fw-bold">
							<td>Product</td>
							<td>Quantity</td>
							<td>Price</td>
						</tr>
						{% for item in order.orderItems %}
							<tr>
								<td>{{item.products[0].name}}</td>
								<td>{{item.quantity}}</td>
								<td>{{item.price}}</td>
							</tr>
						{% endfor %}
						<tr>
							<td></td>
							<td>
								<b>Delivery Charge</b>
							</td>
							<td>{{order.shippingMethod.cost}}</td>
						</tr>
						<tr>
							<td></td>
							<td>
								<b>Discount</b>
							</td>
							<td>-{{order.discount}}</td>
						</tr>
						<tr>
							<td></td>
							<td>
								<b>Total</b>
							</td>
							<td>{{order.totalCost}}</td>
						</tr>
					</tbody>
				</table>
				<span>Note: This invoice will be used as a Warranty Card from purchase date ({{order.placedAt|date('Y-m-d')}}).</span>
			</div>
		{% endfor %}
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
	</body>
</html>
